.header,
.section {
    padding: 0px var(--website-spacing);
}

.section {
    padding-top: 5rem;
    background-color: #0AA1FF;
    height: 100vh;

}



.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-secondary);
    width: max-content;
    padding: 10px 20px;
    border-radius: var(--radius-lg);

}

.message-container img {
    height: 20px;
}

.buttons-container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.play-video-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-video-btn p {
    font-weight: 300;
}