body .section:nth-child(2) {
    margin-bottom: 20px;
}

body .section:nth-child(n+3) {
    margin-bottom: var(--spacing-between-section);
}




.section {
    padding: 0 var(--website-lateral-spacing);

}



.header-content,
.section-content {
    max-width: 1500px;
    margin: 0 auto;
}


#first-section {
    padding-top: 4rem;
    position: relative;
    height: 82vh;
    background: linear-gradient(180deg, #0AA1FF 36%, #00FFF0 100%);


}

#first-section h1,
#first-section p {
    color: var(--color-text-secondary);
}

.section .section-content {
    width: 100%;
    height: 100%;
}

.section .section-content.flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.message-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-secondary);
    width: max-content;
    padding: 10px 20px;
    border-radius: var(--radius-large);

}

.message-container img {
    height: 20px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: var(--text-box-spacing);
    margin-bottom: 20px;

}

.buttons-container {
    display: flex;
    gap: 20px;
}

.img-aside-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;

}

.buttons-container .img-aside-button p {
    font-weight: 300;

}



.custom-shape-divider-bottom-1748873893 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1748873893 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 208px;
}

.custom-shape-divider-bottom-1748873893 .shape-fill {
    fill: #FFFFFF;
}

#second-section h1,
#second-section p {
    color: black;
}

#mobile {
    display: flex;
    align-self: flex-end;
}

.flex-img {
    width: 100%;
    max-width: 600px;
    min-width: 500px;
}

#second-section .section-content {
    align-items: center;
}

#second-section p {
    color: #747F81;
}



.benefity-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.benefity-card {
    max-width: 500px;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

#third-section .section-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#faq-section .message-container {
    background-color: transparent;

}

#faq-section .message-container p {
    color: var(--color-primary);
}

#faq-section .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin-top: var(--spacing-between-section);

}

.question-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;

    border-radius: var(--radius-medium);
    padding: 0rem 1.5rem;
}

.question-box.open {
    box-sizing: initial;

    border: 2px solid #1FABF4;
    padding: 2rem 1.5rem;

}

.question-box.open img {
    transform: rotate(-90deg);
}





.question-box .answer-text {
    display: none;
}

.question-box.open .answer-text {
    display: block;
}


.question-box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.question-box .flex p {
    font-weight: 500;
    color: #383141;
}

.question-box p {
    font-size: 1.2rem;
}

.question-box img {
    height: 15px;

}

#ad-section {
    margin-top: 10rem;
}

#ad-section .section-content {
    position: relative;
    background-color: #11A5FB;
    padding: 3rem 2rem;
    border-radius: var(--radius-medium);
    background-image: url(../../images/circle.png), url(../../images/circle-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% + 200px) center, -400px 200px;
    background-size: 700px;
}



#ad-section .img-aside-button {
    gap: 15px;
    background-color: rgb(0, 0, 0);
    color: var(--color-text-secondary);
    padding: .2rem 1.2rem;
    border-radius: 10px;
    margin-top: 30px;
}

#ad-section h2 {
    color: #fff;
    font-size: 2.4rem;
}

#ad-section p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}


#ad-section .img-aside-button p {
    color: var(--color-text-secondary);
    font-size: 18px;
}




/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1748873893 svg {
        width: calc(100% + 1.3px);
        height: 50px;
    }
}