body .section:nth-child(2) {
    margin-bottom: 20px;
}

body .section:nth-child(n+3) {
    margin-bottom: var(--spacing-between-section);
}



body .section:nth-of-type(n + 6),
.footer {
    display: none;

}






.section,
.header {
    padding: 0 var(--website-lateral-spacing);

}



.header-content,
.section-content,
.footer-content {
    max-width: 1500px;
    margin: 0 auto;
}


#hero-section {

    position: relative;
    height: 74vh;
    max-height: 730px;
    min-height: 700px;

    background: linear-gradient(180deg, #0AA1FF 50%, #00FFF0 100%);
    padding-top: 2rem;



}

.hero-details {
    margin-top: 30px;
}

#hero-section h1,
#hero-section p,
span {
    color: var(--color-text-secondary);
}

#hero-section .text-box .big-title {
    max-width: 700px;
}

#hero-section .text-box p {
    max-width: 700px;
}

.mobile-text {
    display: none;
}

.section .section-content {
    width: 100%;
    height: 100%;
}

.section .section-content.flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.flex-img {
    display: flex;
    width: 100%;
}

#hero-section .flex-img {
    align-self: flex-end;
    max-width: 600px;
    min-width: 300px;
}

#feature-overview-section .flex-img {
    align-self: flex-end;
    width: 100%;
    max-width: 500px;
    min-width: 350px;
}

#feature-overview-section .hero-details {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    max-width: 800px;


}

#feature-overview-section .hero-details button {
    width: max-content;
}


.message-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-secondary);
    width: 100%;
    min-width: max-content;
    max-width: max-content;
    padding: 10px 20px;
    border-radius: var(--radius-large);

}

.message-container img {
    height: 20px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: var(--textbox-spacing-small);
    margin-bottom: 20px;


}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-aside-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;

}

.buttons-container .img-aside-button p {
    font-weight: 300;

}





.custom-shape-divider-bottom-1748873893 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1748873893 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 208px;
}

.custom-shape-divider-bottom-1748873893 .shape-fill {
    fill: #FFFFFF;
}


.cards-container {
    display: flex;
    gap: 30px;
}

.cards-container .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    min-height: 320px;

    background-color: rgb(222, 238, 242);
    border-radius: 30px;
    padding: 2.5rem;
    transition: all .3s ease;
    border: 1px solid #ffffff;
}


.cards-container .card h2 {
    font-weight: 500;
}

.cards-container .card p {
    font-weight: 500;
}


.cards-container .card img {
    width: 30px;
}



#advantages-section .section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#advantages-section .section-content .centered-text {
    font-weight: 400;
}




.image-wrapper {
    height: 100%;
}














.benefity-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    gap: 25px;
}

.benefity-card {
    width: 500px;
}

.benefity-container:last-child .benefity-card {

    width: 300px;
}



.image-container {
    display: flex;
    justify-content: space-around;
    gap: var(--textbox-spacing-medium);
}

.image-container .flex-img {
    min-width: 100px;
    max-width: 400px;
}

#app-benefits-section .section-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#app-benefits-section .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-benefits-section .text-box p {
    max-width: 1140px;
}

#app-benefits-section .text-box p,
#app-benefits-section .text-box h1 {
    max-width: 1140px;
}




#faq-section .message-container {
    background-color: transparent;

}

#faq-section .message-container p {
    color: var(--color-primary);
}

#faq-section .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin-top: var(--spacing-between-section);

}

.question-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;

    border-radius: var(--radius-medium);
    padding: 0rem 1.5rem;
}

.question-box.open {
    box-sizing: initial;

    border: 2px solid #1FABF4;
    padding: 2rem 1.5rem;

}

.question-box.open img {
    transform: rotate(-90deg);
}





.question-box .answer-text {
    display: none;
}

.question-box.open .answer-text {
    display: block;
}


.question-box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}


.question-box .flex p {
    font-weight: 500;
    color: #383141;
}

.question-box p {
    font-size: 1.2rem;
}

.question-box img {
    height: 15px;

}

#download-app-section {
    margin-top: 10rem;
}

#download-app-section .section-content {
    position: relative;
    background-color: #11A5FB;
    padding: 3rem 2rem;
    border-radius: var(--radius-medium);
    background-position: calc(100% + 200px) center, calc(-20%) 250px;


}

.circle-background {
    background-image: url(../../images/circle.png), url(../../images/circle-2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%;
}



#download-app-section .img-aside-button {
    gap: 15px;
    background-color: rgb(0, 0, 0);
    color: var(--color-text-secondary);
    padding: .2rem 1.2rem;
    border-radius: 10px;
    margin-top: 30px;
}

#download-app-section h2 {
    color: var(--color-text-secondary);
    font-weight: 400;
}

#download-app-section p {
    color: var(--color-text-secondary);
    font-size: 18px;
    font-weight: 300;
}


#download-app-section .img-aside-button p {
    color: var(--color-text-secondary);
    font-size: 18px;
}






@media(max-width:1400px) {
    :root {
        --website-lateral-spacing: 3rem;
    }

    .section-content.flex {
        gap: 20px;
    }

}

@media(max-width:1150px) {
    #advantages-section .cards-container {
        flex-wrap: wrap;
        width: 100%;
    }

    #advantages-section .cards-container .card {

        width: 100%;
        min-height: 230px;
        padding: 1rem 2rem;
    }

}


@media(max-width:980px) {

    .custom-shape-divider-bottom-1748873893 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-bottom-1748873893 svg {
        width: calc(100% + 1.1px);
        height: 60px;
    }


    #hero-section {

        max-height: 530px;
        min-height: 500px;

    }


    #hero-section .flex-img {
        display: none;

    }

    #hero-section .section-content {
        justify-content: center;
        text-align: center;


    }

    #hero-section .message-container,
    #hero-section .buttons-container {
        display: flex;
        justify-self: center;
    }




    .buttons-container {
        gap: 10px;
    }



    #advantages-section .section-title {
        text-align: initial;
        padding-left: 10px;
    }

    #feature-overview-section .pc-text {
        display: none;
    }

    #feature-overview-section .mobile-text {
        display: block;
    }
}

@media(max-width:800px) {

    #feature-overview-section .section-content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #feature-overview-section .section-content .flex-img {
        max-width: 300px;
        min-width: 100px;
        align-self: center;

    }

    #feature-overview-section .hero-details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 0;
        text-align: center;
    }


    .benefity-container {
        flex-wrap: wrap;
        justify-content: initial;
        justify-content: center;
    }

    .benefity-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 350px;


    }

    .benefity-container:last-child .benefity-card {
        display: none;
    }







}

@media(max-width:630px) {
    :root {
        --website-lateral-spacing: 1.5rem;
    }

    #hero-section .message-container {
        display: none;
    }

    #feature-overview-section .hero-details,
    #app-benefits-section .text-box {
        text-align: initial;
        padding-left: 10px;


    }

    #app-benefits-section {
        margin: 15px;
    }

    .question-container {
        width: 100%;
    }

    .question-box {
        padding: 0;
    }

    .question-box.open {
        padding: 15px;

    }

    .benefity-container {
        margin: 20px 0;
    }


    .benefity-card {
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;




    }






}

@media(max-width:470px) {
    #hero-section .text-box {
        text-align: initial;
    }

    #hero-section .message-container,
    #hero-section .buttons-container {
        justify-self: initial;
    }

    #hero-section .pc-text {
        display: none;
    }

    #hero-section .mobile-text {
        display: block;
    }

    #hero-section .hero-details {
        margin: 0rem;

    }


    #hero-section {
        padding-top: 1rem;

    }

    #hero-section .section-content {
        justify-content: initial;
        text-align: initial;

    }
}