.footer {
    background-color: var(--color-primary);
    padding: 0 var(--website-lateral-spacing);

}

.footer.circle-background {
    background-position: calc(100% + 240px) center, calc(-40%) 350px;

}




.footer-content {
    display: grid;
    gap: 50px;
}

.footer-content .primary-button {
    display: flex;
    align-self: flex-end;
    width: 30%;

}

.footer h3,
.footer p,
.footer a {
    color: var(--color-text-secondary);
}



.footer .top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    padding-top: 5rem;
}

.top-footer img {
    height: 80px;
}


.footer .top-footer p {
    max-width: 700px;
}

.bottom-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 500px;
    border-top: 1px solid #ffffffa0;
    padding-top: 3rem;
    gap: 50px 0;

}

.bottom-footer h3 {
    text-transform: uppercase;
}

.bottom-footer a,
.bottom-footer p {
    font-size: var(--font-size-base);
    color: #ffffffe7;
}

.bottom-footer a {
    transition: color .2s ease;
}

.bottom-footer a:hover {
    color: var(--hover-color);
}

.bottom-footer .footer-column,
.contact-container,
.info-box {
    display: flex;
    flex-direction: column;
    gap: var(--textbox-spacing-medium);
}



.social-bottom-footer {
    display: flex;
    justify-content: end;
    padding: 3rem 0;
    border-top: 1px solid #ffffffa0;

}

.social-bottom-footer .social-list {
    display: flex;
    gap: 25px;
}



.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-bottom-footer .social-list img {
    height: 25px;
}

@media screen and (max-width:1500px) {

    .bottom-footer {

        grid-template-columns: repeat(4, 1fr);




    }

    .contact-container {
        display: flex;
        flex-direction: initial;
        grid-column: 1/3;
        gap: 10px;

    }



    .footer-content .primary-button {
        height: 50px;

    }
}

@media screen and (max-width:950px) {
    .bottom-footer {
        grid-template-columns: repeat(2, 1fr);
        padding-top: var(--spacing-between-section);

    }

    .top-footer {
        display: none !important;
    }
}

.footer-column a {
    text-decoration: underline;
    color: #fbfbfba9;
}

@media screen and (max-width:460px) {
    .bottom-footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-container {

        grid-column: 1/1;


    }

    .contact-container {

        flex-direction: column;


    }

    .bottom-footer .primary-button {
        height: 40px !important;
    }


}