.footer {
    background-color: var(--color-primary);

    max-height: 90vh;
}

.footer.circle-background {
    background-position: calc(100% + 240px) center, calc(-40%) 350px;

}




.footer-content {
    display: grid;
    gap: 50px;
}

.footer-content .primary-button {
    display: flex;
    align-self: flex-end;

    width: 30%;
}

.footer h3,
.footer p,
.footer a {
    color: var(--color-text-secondary);
}



.footer .top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    padding-top: 5rem;
}

.footer .top-footer p {
    max-width: 700px;
}

.bottom-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 500px;
    border-top: 1px solid #ffffffa0;
    padding-top: 3rem;

}

.bottom-footer h3 {
    text-transform: uppercase;
}

.bottom-footer a,
.bottom-footer p {
    font-size: var(--font-size-base);
    color: #ffffffe7;
}

.bottom-footer a {
    transition: color .2s ease;
}

.bottom-footer a:hover {
    color: var(--hover-color);
}

.bottom-footer .footer-column,
.contact-container {
    display: flex;
    flex-direction: column;
    gap: var(--textbox-spacing-medium);
}

.social-bottom-footer {
    display: flex;
    justify-content: end;
    padding: 3rem 0;
    border-top: 1px solid #ffffffa0;

}

.social-bottom-footer .social-list {
    display: flex;
    gap: 25px;
}



.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-bottom-footer .social-list img {
    height: 25px;
}