@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */

    --color-primary: #1FABF4;
    --color-secondary: #53BDFF;
    --color-terciary: #ffffff;
    --color-background-grad: linear-gradient(180deg, #0AA1FF 36%, #00FFF0 100%);
    --hover-color: #0C4B8E;


    /* FontColors */
    --color-text-primary: #000000;
    --color-text-secondary: #ffffffe0;
    --color-text-terciary: #4294ffe0;
    --color-paragraph: #817674;

    --dull-color: #ffffff;

    /* Tipografia */
    --font-main: "Poppins", sans-serif;

    --font-big-size: 3rem;
    /*used only in the first text of the hero section */
    --font-size-title: 3rem;
    /*used only in titles of the sections */
    --font-size-subtitle: 2.2rem;
    --font-size-paragraph: 20px;
    --font-size-base: 16px;





    /* Spacing */
    --website-lateral-spacing: 5rem;
    --spacing-between-section: 4rem;
    --textbox-spacing-small: 10px;
    --textbox-spacing-medium: 20px;


    /*Border Radius*/
    --radius-large: 30px;
    --radius-medium: 15px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text-primary);
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;

}

body {

    font-family: var(--font-main);

}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

/* extra size title */
.big-title {
    font-size: var(--font-big-size);
}


.section-title {
    font-size: var(--font-size-title);

}

/* normal title */

h1 {

    font-weight: 400;



}

/*  subtitle */

h2 {
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: var(--font-size-paragraph);
    font-weight: 400;
    letter-spacing: .1px;
    color: var(--color-paragraph);
}




.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: var(--color-text-terciary);
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: var(--font-size-base);
    font-weight: 550;
    border-radius: var(--radius-large);
    background-color: var(--color-terciary);
    transition: background-color .2s ease;

}

.primary-button:hover,
.primary-button.blue:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.primary-button.blue {
    color: #fff;
    background-color: var(--color-primary);
    letter-spacing: .5px;
}

.primary-input {
    height: 50px;
    background-color: var(--color-secondary);
    padding: 0 1rem;
    border-radius: var(--radius-large);
    color: var(--color-text-secondary);
    font-size: var(--font-size-base);


}

.primary-input::placeholder {
    color: var(--color-text-secondary);
}

.centered-text {
    text-align: center;
}


@media(max-width:1400px) {
    :root {
        --font-big-size: 2.5rem;
        --font-size-paragraph: 18px;

    }

    #hero-section .section-content {
        gap: 20px;
    }

}

@media(max-width:1150px) {
    :root {
        --font-size-title: 2.5rem;
        --font-size-subtitle: 1.8rem;
    }
}

@media(max-width:550px) {
    :root {
        --font-size-title: 2rem;

    }
}