.header {
    display: flex;
    justify-content: center;
    background-color: #0AA1FF;
    height: 150px;
    padding: 0 var(--website-spacing);

}

.header .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;


}

.header.scroll {
    border-bottom: 1px solid #ffffff3d;
}

.header .selected {
    position: relative;
    color: var(--color-text-secondary);


}

.header .selected::before {
    content: '';
    width: 70%;
    background-color: var(--color-text-secondary);
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;

}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav p {
    color: var(--dull-color);
    cursor: pointer;
}

.header img {
    height: 80px;
    cursor: pointer;
}

@media(max-width:900px) {
    .header nav {
        display: none;
    }
}